.redactor_toolbar {
    z-index: 800 !important;
}
.grp-tools.grp-tools-thumb {
    float: left;
    width: 400px;
    height: 200px;
}
/*.grp-tools.grp-tools-thumb li a {*/
    /*display: inline-block;*/
    /*width: 400px;*/
    /*height: 200px;*/
    /*margin-left: 30px;*/
/*}*/

.inline-preview {
    float: left;
    /*max-height: 100px;*/
    max-width: 400px;
    margin-left: 30px
}

/*.grp-drag-handler {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/