/* fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic&subset=latin,cyrillic);

/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;background:transparent;vertical-align:baseline;font-size:100%;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-weight:bold;font-style:italic;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-spacing:0;border-collapse:collapse;}
hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #ccc;}
input,select{vertical-align:middle;}
small {font-size: 80%;}

img, object, embed {
	max-width: 100%;
}
  
/* main */
body {
	font-size: 16px;
	font-family: 'PT Serif', serif;
	background-color: #F7F7F7;
	background-image: url('noisy-texture-transperent.png');  
	border-top: 6px solid #821A17;
}

p {
	margin: 1.5em 0;
	line-height: 1.45em;
}

	p:first-child {
		margin: 0 0 1.5em;
	}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

blockquote {
	margin-left: 4em;
	font-style: normal;
	position: relative;
	color: #606060;

}

blockquote:before {
	content: "“";
	position: absolute;
	left: -.75em;
	top: .0;
	font-size: 3em;
	font-family: Georgia;
	font-weight: bold;
	font-style: normal;
	color: #787878;
}

.wrapper {
	min-width: 960px;
}

.row-1 {
	width: 960px;
	margin: 0 auto;
}

.lang-switcher {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #333;
	font-family: 'PT Sans', sans-serif;
	font-size: .73em;
}

	.lang-switcher a {
		color: #333;
		padding-right: 20px;
	}

	.active-lang {
		display: none;
	}

.logo {
	text-align: center;
	font-family: Futura, sans-serif;
	margin-top: 1em; 
	position: relative;
}

	.logo h1 {
		font-size: 2.2em;
		font-family: Futura;
		text-transform: uppercase;
		font-weight: normal;
	}

	.logo h2 {
		font-size: 1em;
		font-family: Futura;
		font-weight: 400;
		text-transform: lowercase;
		margin-top: .6em;
	}

	.logo a {
		text-decoration: none;
		color: #000;
	}

	.small-gray-text-top {
		display: inline-block;
		font-size: .7em;
		font-family: 'PT Sans', sans-serif;
		color: #666;
		text-align: center;
		margin-bottom: 2em;
		border-bottom: 2px solid #383838;
		padding-bottom: .3em;
	}

.main-menu {
	text-align: center;
	margin-top: 2.2em;
	margin-bottom: 2.3em;
	font-family: 'PT Sans', sans-serif;
}

	.main-menu li {
		display: inline;
		margin: 0 1em;
		font-size: .95em;
		font-weight: bold;
	}

	.main-menu a {
		color: #821A17;
		text-transform: uppercase;
		text-decoration: none;
	}

	.main-menu a.active {
		border-bottom: 1px solid #821A17;
	}

	.main-menu a:hover {
		color: #000;
		border-bottom: none;
	}

	.main-menu a.active:hover {
		border-bottom: 1px solid #000;
	}

.search-container {
	display: block;
	position: absolute;
	top: 10px;
	right: 150px;
	width: 100px;
}

	.search-box {
		position: relative;
	}

	.search-popover {
		display: none;
		position: absolute;
		left: -110px;
		top: 30px;
		width: 350px;
		z-index: 100;
		font-family: 'PT Sans', sans-serif;
		background-color: #fff;
		border-radius: 10px;
		-webkit-box-shadow: 0 0 28px 4px rgba(112,112,112,0.32);
		-moz-box-shadow: 0 0 28px 4px rgba(112,112,112,0.32);
		box-shadow: 0 0 28px 4px rgba(112,112,112,0.32);
	}

	.search-popover-focused {
		display: block;
	}

	.search-popover-title {
		display: block;
		font-weight: normal;
		font-style: italic;
		font-size: .8em;
		margin-top: .8em;
		margin-bottom: .9em;
		color: #a5a396;
		text-align: center;
	}

	.search-popover-title:before {
	    content: "";
	    height: 1px;
	    width: 30px;
	    background:#e0e0e0;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 10px;
	}

	.search-popover-title:after {
	    content: "";
	    height: 1px;
	    width: 30px;
	    background: #e0e0e0;
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 10px;
	}

	.search-popover-results li {
		width: 100%;
		min-height: 60px;
	  	font-weight: normal;
	  	display: block;
	  	text-align: left;
	  	margin: 0;
	  	padding-top: .7em;
	  	padding-bottom: .7em;
	  	border-top: 1px solid #e9e9e9;
	  	overflow: hidden;
	}

	.search-popover-link {
		display: block;
		text-decoration: none;
		z-index: 110;
	}

	.search-popover-results li:hover {
	  	background-color: rgb(0, 129, 194);
	  	color: #fff;
	}

	.search-popover-results li:hover .search-popover-description {
	  	color: #fff;
	}

	.search-popover-results li:hover .search-popover-description h5 {
	  	color: #fff;
	}

	.search-popover-image {
	  	display: inline-block;
	  	vertical-align: top;
	  	width: 70px;
	  	height: 70px;
	  	text-align: center;
	}

	.search-popover-image img {
		width: 60px;
		height: 60px;
	}

	.search-popover-description {
	  	display: inline-block;
	  	vertical-align: top;
	  	width: 260px;
	  	font-size: .8em;
	  	line-height: 14px;
	  	color: #504e4d;
	  	overflow: hidden;
	}

	.search-popover-description h5 {
	  	color: #3b3b3b;
	  	margin-bottom: .3em;
	}

	.search-popover-description p {
		margin: 0;
		font-size: .85em;
	}

	.search-popover-all-results {
		display: block;
		font-size: .8em;
		color: #888;
		text-transform: none;
		border: none;
		text-decoration: underline; 
		margin-top: 1.2em;
		margin-bottom: 1em;
		text-align: center;
	}

.search-page-results {
	margin-top: 0.5em;
}

	.search-page-results li {
		list-style: none;
		height: 150px;
		overflow: hidden;
		position: relative;
		margin-bottom: 1em;
	}

	.search-page-image {
		width: 20%;
	  	display: inline-block;
	  	vertical-align: top;
	  	text-align: center;
	}

	.search-page-image img {
		max-width: 150px;
		max-height: 150px;
		border-radius: 10px;
	}

	.search-page-description {
		display: inline-block;
	  	vertical-align: top;
	  	width: 70%;
	  	padding-left: 1em;
	  	font-size: 15px;
	  	line-height: 20px;
	  	color: #504e4d;
	}

	.search-page-description h5 {
	  	margin-bottom: 10px;
	  	font-size: 19px;
	  	color: #3b3b3b;
	}

	.search-page-description h5 a {
		color: #000;
	}


.what-we-do {
	width: 600px;
	margin: 60px auto 0;
	font-size: 17px;
	line-height: 26px;
	text-align: center;
	color: #5d5d5d;
}

	.what-we-do ol {
		list-style: none;
	}

	.what-we-do li {
		margin-top: 10px;
	}

.skyline {
	width: 100%;
	height: 200px;
	margin: 2em auto;
	background: url('skyline2.svg');
	position: relative;
	margin-bottom: 10em;
}

	.skyline a {
		color: #7a7a7a;
	}

	.skyline-icons {
		text-align: center;
		position: absolute;
		bottom: 0;
		width: 100%;
		min-width: 1024px;
	}

	.skyline-icons li {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 1.1em;
		text-align: center;
		position: relative;
	}

	.skyline-icon {
		background-size: contain;
	}

	.skyline-icon a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.skyline-description {
		position: absolute;
		width: 100%;
		left: 0;
		margin-top: .6em;
		text-align: center;
		font-size: .9em;
		line-height: 1.35em;
		text-decoration: none;
	}

	.skyline-icons-gum {
		background: url('skyline-icons/gum.svg') no-repeat;
		width: 196px;
		height: 116px;
	}

	.skyline-icons-detmir {
		background: url('skyline-icons/detmir.svg') no-repeat;
		width: 190px;
		height: 73px;
	}

	.skyline-icons-manezh {
		background: url('skyline-icons/manezh.svg') no-repeat;
		width: 197px;
		height: 78px;
	}

	.skyline-icons-hals {
		background: url('skyline-icons/hals.svg') no-repeat;
		width: 77px;
		height: 192px;
	}

	.skyline-icons-enthusiast {
		background: url('skyline-icons/enthusiast.svg') no-repeat;
		width: 147px;
		height: 178px;
	}


.bottom-footer {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	border-top: 1px solid #cccccc;
	padding-top: .9em;
}

	.address-columns {
		font-size: .8em;
		line-height: 1.6em;
		font-style: normal;
	}

		.address-columns a {
			color: #000;
		}

		.address-columns div {
			display: inline-block;
			vertical-align: middle;
		}

		.address-col-1 {
			width: 60px;
			height: 60px;
			border-radius: 50%;

			border: 2px solid #c4c4c4;
			
			/*-webkit-box-shadow: inset 0 2px 5px 1px rgba(128,128,128,0.4);
			-moz-box-shadow: inset 0 2px 5px 1px rgba(128,128,128,0.4);
			box-shadow: inset 0 2px 5px 1px rgba(128,128,128,0.4);*/
		}

		.address-col-2 {
			margin-left: 12px;
			width: 120px;
			text-align: left;
		}

		.address-col-2 a {
			text-decoration: none;
		}

		.address-col-3 {
			margin-left: 40px;
			width: 160px;
			text-align: left;
		}

		.address-col-4 {
			margin-left: 40px;
			width: 150px;
			text-align: left;
		}

		.address-col-5 {
			margin-left: 40px;
			width: 150px;
			text-align: left;
		}

/* project list */
.project-list {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

	.project-list-wrapper {
		margin-top: 4em;
	}

	.project-list-item {
		list-style: none;
		margin-bottom: 2em;
	}

	.project-list-image {
		display: inline-block;
		vertical-align: middle;
		width: 150px;
		height: 150px;
		border-radius: 10px;
		background-color: #ececec;
	}

	.project-list-image a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.project-list-image img {
		width: 150px;
		height: 150px;
		border-radius: 10px;
	}

	.project-list-work-title {
		font-size: 1.4em;
		line-height: 1.4em;
		font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
		font-weight: bold;
	}

	.project-list-work-title a {
		color: #000;
		text-decoration: none;
	}

	.project-list-meta-data {
		display: inline-block;
		vertical-align: middle;
		width: 500px;
		margin-left: 1em;
	}

	.project-list-meta-items {
		margin-top: 1.5em;
	}

	.project-list-meta-items li {
		display: inline-block;
		vertical-align: middle;
		width: 140px;
		height: 60px;
		list-style: none;
		text-align: center;
		border-right: 1px solid #C6C6C6;
		padding-left: .5em;
		padding-right: .5em;
	}

	.project-list-meta-title {
		text-transform: uppercase;
		font-family: Georgia, serif;
		font-size: .7em;
		line-height: 1.3em;
		font-weight: normal;
		letter-spacing: 1px;
	}

	.project-list-meta-description {
		margin-top: .7em;
		font-family: 'PT Sans', sans-serif;
		font-size: .8em;
		line-height: 1.4em;
		font-weight: bold;
	}

	.no-border {
		border: none !important;
	}

.project-categories {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
}

	.project-categories li {
		list-style: none;
		font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: .95em;
		line-height: 1.3em;
		margin-bottom: 1em;
	}

	.project-categories li a {
		color: #666;
	}

	.project-categories-active {
		font-weight: bold;
	}

/* project page */
.project {
	font-size: 1em;
	font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
}

	.project header h2 {
		width: 80%;
		margin: auto;
		font-family: 'PT Serif', serif;
		font-size: 1.6em;
		line-height: 1.5em;
		font-weight: normal;
		text-align: center;
		margin-bottom: .85em;
	}

	.project-body {
		display: inline-block;
		vertical-align: top;
		width: 80%;
	}

	.project-authors {
		margin-top: 3em;
		margin-left: 0 !important;
	}

	.project-authors li:before {
		content: "" !important;
		margin-right: 0 !important;
	}

	.project-authors li {
		list-style: none;
		margin-bottom: .9em;
		line-height: 1.35em;
		text-indent: 0 !important;
	}

	.project-section-title {
		display: block;
		font-size: 1em;
		font-family: 'PT Sans';
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: .5em;
	}

.meta-data {
	display: inline-block;
	vertical-align: top;
	width: 19%;
	text-align: center;
}

	.meta-data ul {
		list-style: none;
		text-align: center;
	}

	.meta-data li {
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 140px;
		padding-top: 45px;
	}

	.meta-data dt {
		text-transform: uppercase;
		font-family: Georgia;
		font-size: 10px;
		font-weight: normal;
		letter-spacing: 1px;
	}

	.meta-data dd {
		margin-top: 7px;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
	}

	.panorama-link {
		margin-top: .2em;
	}

	.panorama-link a {
		color: #777;
		font-size: .65em;
	}

	.icon-built-in {
		background: url('icons/built-in.png') center top no-repeat;
	}

	.icon-area {
		background: url('icons/area.png') center top no-repeat;
	}

	.icon-client {
		background: url('icons/client.png') center top no-repeat;
	}

	.icon-address {
		background: url('icons/address.png') center top no-repeat;
	}

	.icon-address dd, .icon-client dd {
		font-size: .9em;
		line-height: 1.2em;
	}

.fotorama {
 	margin-bottom: 2em !important;
 	
 	padding: 2px !important;
}

	.fotorama_fullscreen {
		margin: 0 !important;
		padding: 0 !important;
	}

	.fotorama__wrap {
		border: 1px solid #e5e5e5;
	}

	.fotorama__thumbs {
	 	margin-top: 10px !important;
	}

.more-works {
	width: 80%;
	margin-top: 3em;
	border-top: 2px solid #eeeeee;
	padding-top: 1.1em;
}

	.more-works-block {
		display: inline-block;
		vertical-align: top;
		width: 150px;
		list-style: none;
		margin-right: 2.3em;
		margin-top: .4em;
	}
	
	.more-works-title {
		font-size: .8em;
		line-height: 1.5em;
		font-weight: normal;
		margin-top: .5em;
		overflow: hidden;
	}

	.more-works-title a {
		color: #000;
		text-decoration: none;
	}

	.more-works-title a:hover {
		text-decoration: underline;
	}

	.more-works-block img {
		border-radius: 8%;
		width: 150px;
		height: 150px;
	}

	.more-works-image-placeholder {
		display: block;
		width: 150px;
		height: 150px;
		background-color: #ececec;
		border-radius: 8%;
	}

/* single page */
.page-header {
	font-family: 'PT Serif', serif;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 1.5em;
}

	.content-area ul {
		margin-left: 2em;
	}
		
		.content-area ul li {
			list-style: none;
			text-indent: -1.4em;
			margin-bottom: 0.7em;
			line-height: 1.45em;
		}
		
		.content-area ul li::before {
			content: "—";
			margin-right: 0.5em;
		}
			
		.content-area ul li p:first-child {
			display: inline;
		}
		
		.content-area ol {
			margin-left: 2em;
		}

/* team members */
.team-members {
	list-style: none;
	margin-top: 60px;
	clear: both;
}

	.team h3 {
		font-family: 'PT Serif', serif;
		font-size: 1.6em;
		font-weight: normal;
		text-align: center;
	}

	.team-members li {
		float: left;
		clear: both;
		margin-bottom: 2.6em;
	}

	.team-members-photo {
		float: left;
		width: 140px;
	}

	.team-members-photo img {
		border-radius: 50%;
		width: 140px;
	}

	.team-members-description {
		float: left;
		width: 600px;
		font-size: 1em;
		line-height: 1.5em;
		margin-left: 2.3em;
	}

	.team-members-description p {
		margin: 0;
	}

	.team-members-description h4 {
		font-size: 1.5em;
		font-weight: normal;
	}
	 
	.team-members-description h5 {
		font-size: .8em;
		font-weight: normal;
		font-style: italic;
		margin-bottom: .5em;
	}

.news-list {
	width: 65%;
}

	.news-list-item {
		list-style: none;
		margin-bottom: 3.5em;
	}

	.news-list-title {
		text-align: left;
		font-family: 'PT Sans';
		font-size: 1.1em;
		font-weight: bold;
	}

	.news-list-time {
		display: block;
		color: #8f8f8f;
		font-size: .7em;
		margin-top: .6em;
	}