{% extends 'base.html' %}

{% load i18n %}
{% load custom_tags %}
{% get_available_languages as languages %}

{% block content %}

	<article class="page content-area row-1">
		<img src="{{ MEDIA_URL }}{{ data.image }}" style="display: block; margin-bottom: 2em;">
		<header style="width: 22%; display: inline-block; vertical-align: top;">
			<h3 style="font-size: 1.5em; line-height: 1.35em; margin-top: -.2em;">{{ data.title }}</h3>
		</header>
		<div style="width: 73%; display: inline-block; vertical-align: top; margin-left: 2em;">
		{{ data.description|safe }}
	</article>

{% endblock %}
