{% extends 'base.html' %}

{% load i18n %}
{% load custom_tags %}
{% get_available_languages as languages %}

{% block content %}

	<article class="page content-area row-1">
		<!-- <header>
			<h2 class="page-header">{% trans "About us" %}</h2>
		</header> -->
		<p><img src="{{ STATIC_URL }}about-teaser.jpg"></p>
		<p>Основным видом деятельности Архитектурной мастерской «ГРАН» (основанной в 2006 году) является проектирование общественных зданий и сооружений, а также градостроительных комплексов и планировочных решений в рамках проектов планировки, выполнение функций генерального пректировщика для объектов в г. Москве и других городах РФ.</p>

		<p>Несмотря на относительно молодой возраст компании, основные нормы и принципы организационной структуры «ГРАН» отрабатывались на протяжении многих лет плодотворного сотрудничества творческого коллектива под руководством Заслуженного архитектора России Павла Андреева.</p>

		<p>Основным принципом деятельности «ГРАН» является творческий подход к выполняемой работе и одновременно строгое соблюдение требований СНиП, ГОСТ, градостроительных нормативов, государственных стандартов, технических регламентов, экологических, санитарно-гигиенических, противопожарных требований РФ.</p>

		<p>Используя целостный подход и профессионализм для разработки качественных объектов, «ГРАН» создает отличающиеся своеобразием проекты различных общественных, офисных зданий и многофункциональных комплексов с коммерчески прибыльной структурой и максимально комфортной средой.</p>

		<p>Архитекторы «ГРАН» имеют опыт в проектировании объектов различного функционального назначения, особой градостроительной сложности и исторической ценности:</p>

		<ul>
			<li>Центральный выставочный зал «МАНЕЖ», «Верхние Торговые Ряды» (ГУМ), Большой Театр России, Большой Кремлевский Дворец Московского Кремля<br>
			</li>
			<li>Многофункциональный общественный комплекс Ордынка, 40, «Алмазный» на Балтийской ул. И др.<br>
			</li>
			<li>Развитие Кунцевского транспортно-пересадочного узла по адресу: г. Москва, ЗАО Кварталы 50, 53 района «Кунцевский», Развитие Кутузовского проспекта, Развитие Минской улицы<br>
			</li>
			<li>Проектная документация для строительства административного здания компании ОАО «ЛУКОЙЛ» по адресу: г. Москва, Уланский пер., вл.5-7, стр.2, вл.7-9 и Костянский пер., д.6, стр.1., «Рособоронэкспорт» по адресу пр-т Вернадского, вл.10<br>
			</li>
			<li>Кварталы в жилом комплексе «Рублево-Архангельское» Красногорского муниципального района Московской области<br></li>
		</ul>
	</article>

{% endblock %}
