{% load i18n %}
{% load custom_tags %}
{% get_available_languages as languages %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="favicon.png">
    <!--[if lt IE 9]>]>
		<script src="{{ STATIC_URL }}js/html5.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}ie.css">
	<![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    <title>{{ title|default:'Pavel Andreev — architectual workshop' }}</title>

    {% block js %}{% endblock js %}

    {% block css %}{% endblock css %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mobile.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script type="text/javascript">
        window.Config = {
            search_url: '{% url andreev_ru.main.views.search %}',
            lang: '{{ LANGUAGE_CODE }}',
            all_results: '{% trans "All results" %}',
            no_results: '{% trans "No results" %}'

        }
    </script>
    <script src="{{ STATIC_URL }}js/search.js"></script>
    <script src="{{ STATIC_URL }}js/arrows.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}fotorama/fotorama.css">
    <script src="{{ STATIC_URL }}fotorama/fotorama.js"></script>

    <!-- Google.Analytics counter -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38302991-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- /Google.Analytics counter -->

</head>

<body>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter19939087 = new Ya.Metrika({id:19939087,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        trackHash:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/19939087" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <div class="wrapper">

        <header class="logo row-1">
            <div class="small-gray-text-top">{% trans "National Chamber of Architects" %}</div>

            {% if is_main %}
                <h1>{% trans "Pavel Andreev" %}</h1>
                <h2>{% trans "architectual workshop" %}</h2>
            {% else %}
                <a href="{% url andreev_ru.main.views.home %}">
                    <h1>{% trans "Pavel Andreev" %}</h1>
                    <h2>{% trans "architectual workshop" %}</h2>
                </a>
            {% endif %}
            {#{{ request }}#}
        </header>


    <div class="lang-switcher">
        {% for lang_code, lang_name in LANGUAGES %}
            {% language lang_code %}
                <a href="/{{ lang_code }}/{{ request.get_full_path|slice:"4:" }}"
                   class="{% if lang_code == LANGUAGE_CODE %}active-lang {% endif %}{{ lang_code }}-flag"
                >{% trans lang_name %}</a>
            {% endlanguage %}
        {% endfor %}
    </div>

        <form class="search-container">
            <input id="pa-search" class="search-box" type="text" name="query" placeholder="{% trans "Search" %}" autocomplete="off">
            <div class="search-popover">
            <h4 class="search-popover-title">{% trans "Search Results" %}</h4>
                <ul class="search-popover-results">
<!--                <li>
                        <a class="search-popover-link" href="@href">
                            <span class="search-popover-image"><img src="#"></span>
                            <span class="search-popover-description">
                                <h5>@heading</h5>
                                @content
                            </span>
                        </a>
                    </li>
 -->            </ul>
            <!-- <a class="search-popover-all-results" href="{% url andreev_ru.main.views.search %}"></a> -->
            </div>
        </form>

        <nav class="main-menu row-1" role="navigation">
            <ul>
                <li>
                    <a
                    href="{% url andreev_ru.main.views.works %}?category=1"
                    {% if page == 'works' %}class="active"{% endif %}
                    >{% trans "Projects" %}</a>
                </li>
                <li>
                    <a href="{% url andreev_ru.main.views.about %}"
                    {% if page == 'about' %}class="active"{% endif %}
                    >{% trans "About" %}</a>
                </li>
                <li>
                    <a href="{% url andreev_ru.main.views.news %}"
                    {% if page == 'news' %}class="active"{% endif %}
                    >{% trans "News" %}</a>
                </li>
                 <li>
                    <a href="{% url andreev_ru.main.views.team %}"
                    {% if page == 'team' %}class="active"{% endif %}
                    >{% trans "Team" %}</a>
                </li>
                <li>
                    <a href="{% url andreev_ru.main.views.contacts %}"
                    {% if page == 'contacts' %}class="active"{% endif %}
                    >{% trans "Contacts" %}</a>
                </li>

                {% for p in all_pages %}
                    <li>
                        <a href="/{{ LANGUAGE_CODE }}/{{ p.slug }}"
                           {% if request.get_full_path == '/'|add:LANGUAGE_CODE|add:'/'|add:p.slug %}
                           class="active"
                           {% endif %}
                        >{{ p.title }}</a>
                    </li>
                {% endfor %}

            </ul>

        </nav>

        {% block content %}{% endblock content %}

        <div style="clear: both;"></div>

        <footer class="bottom-footer row-1">
            <address class="address-columns">
                <div class="address-col-1"><a href="{% url andreev_ru.main.views.contacts %}"><img src="{{ STATIC_URL }}/map2.png" width="50"></a></div>
                <div class="address-col-2"><a href="{% url andreev_ru.main.views.contacts %}">{% custom_string "address_city" %}<br>{% custom_string "address_street" %}</a></div>
                <div class="address-col-3">{% custom_string "address_company_name" %}</div>
                <div class="address-col-4">{% custom_string "address_phone" %}<br>
                    <a href="mailto:{% custom_string "address_email" %}">{% custom_string "address_email" %}</a></div>
                <div class="address-col-5">{% blocktrans %}Дизайн и разработка:{% endblocktrans %}<br><a href="http://unebaguette.com">Une Baguette</a></div>
            </address>
        </footer>
    </div>
</body>

</html>
