{% extends 'base.html' %}
{% load i18n %}

{% block content %}

		<!-- <section class="what-we-do">
			<ol>
				<li>Архитектурное и комплексное планирование жилых и общественных зданий, генеральное проектирование, консалтинг, сопровождение проектов</li>
			</ol>
		</section> -->

		<section class="skyline">
			<ul class="skyline-icons">
				<li>
					<div class="skyline-icons-gum skyline-icon"><a href="#"></a></div>
					<a class="skyline-description" href="#">Торговый дом ГУМ</a>
				</li>
				<li>
					<div class="skyline-icons-detmir skyline-icon"><a href="#"></a></div>
					<a class="skyline-description" href="#">Детский мир</a>
				</li>
				<li>
					<div class="skyline-icons-manezh skyline-icon"><a href="#"></a></div>
					<a class="skyline-description" href="#">Реконструкция центрального выставочного зала «Манеж»</a>
				</li>
				<li>
					<div class="skyline-icons-hals skyline-icon"><a href="#"></a></div>
					<a class="skyline-description" href="#">Галс Тауэр</a>
				</li>
				<li>
					<div class="skyline-icons-enthusiast skyline-icon"><a href="#"></a></div>
					<a class="skyline-description" href="#">Многофункциональный комплекс на Шоссе Энтузиастов</a>
				</li>
			</ul>
		</section>

{% endblock %}
