{% extends 'base.html' %}
{% load i18n %}

{% block content %}

		<section class="what-we-do">
			<ol>
				<li>{% blocktrans %}Архитектурное планирование, генеральное проектирование{% endblocktrans %}</li>
				<li>{% blocktrans %}Комплексное планирование жилых и общественных зданий{% endblocktrans %}</li>
				<li>{% blocktrans %}Консалтинг, комлпексное сопровождение проектов{% endblocktrans %}</li>
			</ol>
		</section>

		<section class="timeline">
			<ul>
				<li><a href="">ГУМ</a></li>
				<li><a href="">Манеж</a></li>
				<li><a href="">Детский мир</a></li>
				<li><a href="">Шоссе энтузиастов</a></li>
				<li><a href="">Большой театр</a></li>
				<li><a href="">Кунцево</a></li>
			</ul>
		</section>

{% endblock %}
