{% extends 'base.html' %}

{% load i18n %}
{% load custom_tags %}
{% get_available_languages as languages %}

{% block content %}

	<article class="row-1">

		<ul class="news-list">
        {% for news_item in news %}
        	<li class="news-list-item">
            	<h4 class="news-list-title">{{ news_item.title }}</h4>
            	<time class="news-list-time">{{ news_item.pub_date }}</time>
            	{{ news_item.content|safe }}
        	</li>
        {% endfor%}
    	</ul>

	</article>

{% endblock %}
