{% extends 'base.html' %}

{% block content %}
	
	<article class="page">
		<header>
			<h2>Результаты поиска</h2>
		</header>
                    		<ul class="search-page-results">
                    			<li>
	                    			<div class="search-page-image">
	                    				<a href="#"><img src="http://127.0.0.1:8000/media/team/57836_1.jpeg"></a>
	                    			</div>
	                    			<div class="search-page-description">
	                    				<h5><a href="#">Павел Андреев</a></h5>
	                    				Новый проект для «Детского мира» компания «Галс-Девеломпент» представила общественности в понедельник. В компании уверены, что этот проект окончательный, да и тянуть дольше уже нельзя: за четыре года, рассказал президент компании Сергей Калинин в интервью РИА Новости, девелопер выплатил процентов по взятым под проект кредитам на сумму в несколько десятков миллионов долларов.
	                    			</div>
                    			</li>

                    			 <li>
                    			 	<a class="search-page-link" href="#"></a>
                    				<div class="search-page-image">
                    					<a href="#"><img src="http://127.0.0.1:8000/media/works/0008_%D1%88%D0%B0%D1%80%D1%8B.jpg"></a>
                    				</div>
                    				<div class="search-page-description">
                    					<h5><a href="#">Детский мир</a></h5>
                    					Новый проект для «Детского мира» компания «Галс-Девеломпент» представила общественности. В компании уверены, что этот проект окончательный, да и тянуть дольше уже нельзя...
                    				</div>
                    			</li>

                    			<li>
                    				<a class="search-page-link" href="#"></a>
                    				<div class="search-page-image">
                    				</div>
                    				<div class="search-page-description">
                    					<h5><a href="#">Бизнесмэн</a></h5>
                    					Бизнесмен с Рублевки решил построить в Серебряном Бору-3 замок в виде головы Путина...
                    				</div>
                    			</li>

                    			<li>
                    				<a class="search-page-link" href="#"></a>
                    				<div class="search-page-image">
                    					<a href="#"><img src="http://127.0.0.1:8000/media/works/3.jpg"></a>
                    				</div>
                    				<div class="search-page-description">
                    					<h5><a href="#">Шоссе Энтузиастов</a></h5>
                    					Шоссе́ Энтузиа́стов (Влади́мирское шоссе, Влади́мирский тракт) — шоссе в Москве. В компании уверены, что этот проект окончательный, да и тянуть дольше уже нельзя...
                    				</div>
                    			</li>
                    		</ul>
	</article>

{% endblock %}