{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}

    <section class="team row-1">

        {% for department, persons in team %}

            <h3>{{ department.name }}</h3>
            <ul class="team-members">
                {% for person in persons %}
                    <li id="{{ person.name|transliterate }}">
                        <div class="team-members-photo">
                            <img src="{{ MEDIA_URL }}{{ person.image }}">
                        </div>

                        <div class="team-members-description">
                            <h4>{{ person.name }}</h4>
                            <h5>{{ person.occupation }}</h5>
                            {{ person.bio|safe }}
                        </div>
                    </li>
                {% endfor %}
            </ul>

        {% endfor %}

        </ul>
    </section>

{% endblock %}
