{% extends 'base.html' %}

{% block content %}

    <section class="team">

        {% for department, persons in team %}

            <h3>{{ department.name }}</h3>
            <ul class="team-members">
                {% for person in persons %}
                    <li>
                        <div class="team-members-photo">
                            <img src="{{ STATIC_URL }}img/team-member-1.jpg">
                        </div>

                        <div class="team-members-description">
                            <h4>{{ person.name }}</h4>
                            <h5>{{ person.occupation }}</h5>
                            {{ person.bio|safe }}
                        </div>
                    </li>
                {% endfor %}
            </ul>

        {% endfor %}

        </ul>
    </section>

{% endblock %}
