{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	
	<ul class="project-categories">
        {% for c, count in categories %}
            {% if category.id == c.id %}
                <li class="project-categories-active">{{ c.name }}<sup>{{ count }}</sup></li>
            {% else %}
                <li><a href="{% url andreev_ru.main.views.works %}?category={{ c.id }}">{{ c.name }}</a><sup>{{ count }}</sup></li>
            {% endif %}
        {% endfor %}
	</ul>
	
	<ul class="project-list">
        {% for work in category_works %}
            <li class="the-project">
                <figure>
                    <figcaption><a href="{% url andreev_ru.main.views.work work.slug %}">{{ work.title }}</a></figcaption>
                    <a href="{% url andreev_ru.main.views.work work.slug %}"><img src="{{ MEDIA_URL }}{{ work.images.all.0.image }}"></a>
                </figure>

                <ul class="project-list-meta-data">
                    <li>
                        <span class="project-list-meta-title">{% trans "Год постройки" %}</span>
                        <span class="project-list-meta-desciption">{{ work.release_year }}</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">{% trans "Площадь" %}</span>
                        <span class="project-list-meta-desciption">{{ work.square }} м²</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">{% trans "Адрес" %}</span>
                        <span class="project-list-meta-desciption">{{ work.address }}</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">{% trans "Авторы" %}</span>
                        <span class="project-list-meta-desciption">{{ work.authors }}</span>
                    </li>
                </ul>
            </li>
        {% endfor %}
	</ul>
 


{% endblock %}
