{% extends 'base.html' %}

{% block content %}
	
	<ul class="project-categories">
        {% for c in categories %}
            {% if category.id == c.id %}
                <li class="project-categories-active">{{ c.name }}</li>
            {% else %}
                <li><a href="{% url andreev_ru.main.views.works %}?category={{ c.id }}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
	</ul>
	
	<ul class="project-list">
        {% for work in category_works %}
            <li class="the-project">
                <figure>
                    <figcaption><a href="{% url andreev_ru.main.views.work work.slug %}">{{ work.title }}</a></figcaption>
                    <a href="{% url andreev_ru.main.views.work work.slug %}"><img src="{{ MEDIA_URL }}{{ work.images.all.0.image }}"></a>
                </figure>

                <ul class="project-list-meta-data">
                    <li>
                        <span class="project-list-meta-title">Год постройки</span>
                        <span class="project-list-meta-desciption">2012—2014</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">Площадь</span>
                        <span class="project-list-meta-desciption">442 м²</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">Адрес</span>
                        <span class="project-list-meta-desciption">Москва, ул. Театральный пр., 5</span>
                    </li>

                    <li>
                        <span class="project-list-meta-title">Авторы</span>
                        <span class="project-list-meta-desciption">Максим Милищенко, Ольга Дубовая, Алексей Эфимов</span>
                    </li>
                </ul>
            </li>
        {% endfor %}
	</ul>
 


{% endblock %}
