{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="project-list-wrapper row-1">
        <ul class="project-list">
            {% for work in category_works %}
            <li class="project-list-item">
                <div class="project-list-image"><a href="{% url andreev_ru.main.views.work work.slug %}#project"><img src="{{ MEDIA_URL }}{{ work.images.all.0.image }}"></a></div>

                <div class="project-list-meta-data">
                    <h4 class="project-list-work-title"><a href="{% url andreev_ru.main.views.work work.slug %}#project">{{ work.title }}</a></h4>

                    <ul class="project-list-meta-items">
                        <li>
                            <h5 class="project-list-meta-title">{% trans "Год постройки" %}</h5>
                            <div class="project-list-meta-description">{{ work.release_year }}</div>
                        </li>

                        <li>
                            <h5 class="project-list-meta-title">{% trans "Площадь" %}</h5>
                            <div class="project-list-meta-description">{{ work.square }} м²</div>
                        </li>

                        <li class="no-border">
                            <h5 class="project-list-meta-title">{% trans "Адрес" %}</h5>
                            <div class="project-list-meta-description">{{ work.address }}</div>
                        </li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>

        <nav class="project-categories">
            {% for c, count in categories %}
            {% if category.id == c.id %}
                <li class="project-categories-active">{{ c.name }}<!-- <sup>{{ count }}</sup> --></li>
            {% else %}
                <li><a href="{% url andreev_ru.main.views.works %}?category={{ c.id }}">{{ c.name }}</a><!-- <sup>{{ count }}</sup> --></li>
            {% endif %}
        {% endfor %}
        </nav>

    </div>

	</ul>
 


{% endblock %}
