{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row-1">
    <article class="project" id="project">
    	<header>
    		<h2>{{ work.title }}</h2>
    	</header>

        <div id="fotorama" class="fotorama" data-width="100%" data-height="500" data-shadows="false" data-cropToFit="false" data-nav="dots" data-click="true" data-fullscreenIcon="true" data-background="#000000" data-hideNavIfFullscreen="true" data-loop="true">

            {% for i in work.images.all %}

             <img src="{{ MEDIA_URL }}{{ i.image }}">

            {% endfor %}

        </div>
    	
    	<div class="project-body">   		
    		{{ work.description|safe }}
    	</div>

        <aside class="meta-data">
            <ul>
                <li class="icon-built-in">
                    <dl>
                      <dt>{% trans "Год постройки" %}</dt>
                      <dd>{{ work.release_year }}</dd>
                    </dl>
                </li>
                
                <li class="icon-area">
                    <dl>
                      <dt>{% trans "Площадь" %}</dt>
                      <dd>{{ work.square }} м²</dd>
                    </dl>
                </li>

                <li class="icon-client">
                    <dl>
                      <dt>{% trans "Заказчик" %}</dt>
                      <dd>ООО «Большая нефтяная компания»</dd>
                    </dl>
                </li>

                <li class="icon-address">
                    <dl>
                      <dt>{% trans "Адрес" %}</dt>
                      <dd>{{ work.address }}</dd>
                      <div class="panorama-link"><a href="{{ work.panorama_url }}">{% trans "Посмотреть панораму" %}</a></div>
                    </dl>
                </li>
            </ul>
        </aside>

    </article>

    <div class="more-works">
        <h4 class="more-works-big-title">{% trans "Другие проекты" %}</h4>
        <ul>
            {% for another_work in more_works %}
                <li class="more-works-block">
                    <a href="{% url andreev_ru.main.views.work another_work.slug %}#project"><img src="{{ MEDIA_URL }}{{ another_work.images.all.0.image }}"></a>
                    <h5 class="more-works-title"><a href="{% url andreev_ru.main.views.work another_work.slug %}#project">{{ another_work.title }}</a></h5>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
